<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="novel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <novel.Properties.Settings>
            <setting name="BackUp" serializeAs="String">
                <value/>
            </setting>
            <setting name="Memo" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyF2" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyF3" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyF4" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyF5" serializeAs="String">
                <value/>
            </setting>
            <setting name="checkboxauto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxclock" serializeAs="String">
                <value/>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value/>
            </setting>
            <setting name="fix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backupfix" serializeAs="String">
                <value/>
            </setting>
            <setting name="time" serializeAs="String">
                <value/>
            </setting>
            <setting name="font" serializeAs="String">
                <value>メイリオ</value>
            </setting>
            <setting name="fontsize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="fontweight" serializeAs="String">
                <value>普通</value>
            </setting>
        </novel.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
